<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left"><i class="fa fa-envelope"></i><a href="mailto:pragmatick.dev">pragmatick.dev</a></div>
            <div class="col-lg-4 my-3 my-lg-0">
                <i class="fa fa-phone"></i>418-261-xxxx
            </div>
            <div class="col-lg-4 text-lg-right">
                <i class="fa fa-map-marker"></i>Were you need us...          
            </div>
        </div>
    </div>
</footer>