<section class="page-section bg-light" id="how-we-do-it">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">What we can do</h2>
        </div>
        <div class="row">
            <table class="table table-striped mt-5">
                  <tr>
                    <td><img src="../../assets/img/V4.jpg" alt="" class="img-fluid" /></td>
                    <td>MPV-text</td>
                  </tr>
                  <tr>
                    <td>Certification et qualification - Text</td>
                    <td><img src="../../assets/img/V5.png" alt="" class="img-fluid" /></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/V6.jpg" alt="" class="img-fluid" /></td>
                    <td>Transfert de connaissance - Text</td>
                  </tr>
              </table>
        </div>
    </div>
</section>
