<section class="page-section bg-light" id="what-we-do">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">What we can do</h2>
        </div>
        <div class="row">
            <table class="table table-striped mt-5">
                  <tr>
                    <td><img src="../../assets/img/V1.jpg" alt="" class="img-fluid" /></td>
                    <td class="text-tab">DevOps-text</td>
                  </tr>
                  <tr>
                    <td class="text-tab">Multi Cloud - Text</td>
                    <td><img src="../../assets/img/V2.jpg" alt="" class="img-fluid" /></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/V3.jpg" alt="" class="img-fluid" /></td>
                    <td class="text-tab">Full stack development - Text</td>
                  </tr>
              </table>
        </div>
    </div>
</section>